@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
font-family: 'Poppins';
}
.shop-btn{
    background-color: white;
    color: black;
    border: none;
    font-family: "Poppins";
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    
    
}

