@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap');

.navbar{
    font-family: 'Poppins';
}
.nav-items a{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    color: black;
}