
.custom-navbar{
    background-color: white;
}
.custom-nav{
    letter-spacing: 2px;
    
}
.custom-nav {
    position: relative; 
    color:black ;
  }
  
  .custom-nav::before {
    content: "";
    position: absolute;
    width: 0;
    color: white;
    height: 1px; /* Height of the line */
    bottom: 0; /* Position it at the bottom of the container */
    left: 50%; /* Start from the center */
    background-color: white; /* Color of the line */
    transition: width 0.4s ease-in-out; /* Transition effect */
    transform: translateX(-50%); /* Center the line */
    
  }
  
  .custom-nav:hover::before {
    width: 100%; /* Expand the line to the left and right on hover */
    opacity: 1; /* Make the line visible */
    color: white;
  }
  .custom-nav:hover {
    color: white; 
    font-weight: bolder;
    transition: 0.4s ease-in-out;
  }