@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.quantity{
    border: 1px solid black;
    border-radius: 10px;
}
.quantity-item{
    font-size: x-large;
    padding: 3px 10px;
    cursor: pointer;
}
.no-drop{
    cursor: no-drop;
}
.single-product img {
    
    margin-top: 80px;
 width: 90%;
 height: auto;
 border-radius: 21px;
}
.verticle-line{
    border-left: 3px solid red;
    padding-left: 10px;
}
.single-product h2{
    font-family: 'Poppins';
}