@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins';
}

.about{
    background-color: rgb(56, 56, 56);
    color: white;
    font-family: 'Poppins';
    padding-bottom: 20px;
}
.product-title{
    border-bottom: 2px solid red;
}

.product{
font-family: 'Poppins';
}
.card{
    position: relative;
}
.sale-text{
    position: absolute;
    top: 4%;
    left: 77%;
    color: white;
}
.side-images{
    position: relative;
}
.side-icons,.insta , .tik,.twitter{
    width: 30px;
    height: 30px;
}
.side-icons:hover,.insta:hover , .tik:hover,.twitter:hover{
    transition: 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    transform: translate(-20%, -10%);
    cursor: pointer;
    
}
.side-icons{
    position: absolute;
    left: 2%;

}

.insta{
    position: absolute;
    left: 2%;
    top: 33%;

}
.tik{
    position: absolute;
    left: 2%;
    top: 42%;
}
.twitter{
    position: absolute;
    left: 2%;
    top: 52%;
}
.header-image{
    width: 400px;
    height: 300px;
}

@media  (max-width: 767px){
    .header-image{
        width: 250px;
        height: 150px;
    }
    
.header{
    margin-top: 10px !important;
}
.side-icons,.insta , .tik,.twitter{
    width: 20px;
    height: 20px;
}
.insta{
    top: 21%;
}
.tik{
    top: 26%;
}
.twitter{
    top:32% ;
}
}