@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins';
}

.about{
    background-color: rgb(43, 5, 5);
    color: white;
    font-family: 'Poppins';
    padding-bottom: 20px;
}
.sale-text{
    position: relative;
    left: 88% !important;
    font-size: 12px;
    top: 3% !important;
    
}
.text-color{
    color: rgb(167, 3, 3);

}
.btn-bg:hover{
    background-color: white;
    color: rgb(167, 3, 3);
    transition: 0.7s ease-in-out;
}
.btn-bg{
    background-color: rgb(43, 5, 5);
    color: white;
    font-family: 'Poppins';
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px !important;
    padding: 0% !important;
    width: 100%;
    padding: 10px !important;
    margin-left: -0.5px !important;
}
.link{
    text-decoration: none !important;
    list-style: none !important;
}



.product{
font-family: 'Poppins';
}
.card img{
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}
.card{
    border: none !important;
    border-radius: 21px ;
    position: relative;
    /* https://smoothshadows.com/#djEsMSw1LDAuMDgsMjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
0px 5px 4px rgba(3, 7, 18, 0.03),
0px 12px 9px rgba(3, 7, 18, 0.05),
0px 20px 15px rgba(3, 7, 18, 0.06),
0px 32px 24px rgba(3, 7, 18, 0.08);

}



.sale-text{
    position: absolute;
    top: 4%;
    left: 77%;
    color: white;
}
.side-images{
    position: relative;
}
.side-icons,.insta , .tik,.twitter{
    width: 30px;
    height: 30px;
}
.side-icons:hover,.insta:hover , .tik:hover,.twitter:hover{
    transition: 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    transform: translate(-20%, -10%);
    cursor: pointer;
    
}
.side-icons{
    position: absolute;
    left: 2%;

}

.insta{
    position: absolute;
    left: 2%;
    top: 33%;

}
.tik{
    position: absolute;
    left: 2%;
    top: 42%;
}
.twitter{
    position: absolute;
    left: 2%;
    top: 52%;
}
.header-image{
    width: 400px;
    height: 300px;
}

@media  (max-width: 767px){
    .header-image{
        width: 250px;
        height: 150px;
    }
    
.header{
    margin-top: 10px !important;
}
.side-icons,.insta , .tik,.twitter{
    width: 20px;
    height: 20px;
}
.insta{
    top: 21%;
}
.tik{
    top: 26%;
}
.twitter{
    top:32% ;
}
}


.animate
{ 
   
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
      letter-spacing: 3px;
      font-family: 'Poppins';
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}